body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

header {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 40px;
    gap: 30px;
}

.profile-section {
    flex-shrink: 0;
    text-align: center;
}

.profile-photo {
    border-radius: 5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bio-section {
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

.publications h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .profile-section {
        margin-bottom: 20px;
    }

    .bio-section {
        text-align: left;
        width: 100%;
    }
}

.award {
    color: red;
}
